.header {
    display: flex;
    justify-content: space-between;
    border : 1px solid grey;
}

.logo {
    width: 150px;
    padding : 10px;
}

.nav-items {
    padding : 10px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li {
    padding : 20px;
}

.nav-items > ul > li:hover {
    cursor: pointer;
}

.card {
    width: 300px;
    border: 1px solid grey;
    padding: 10px;
    margin:10px 50px;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}